:root{
    --theme-color: rgb(226, 198, 198);
    --primary-color:#124f88;
    --secundary-color:#f7c331;
    --text-color-inverse:white;
    --text-color:black;
    --menu-mobile-background-color:#3a4460; 
    --navbar-shallow-color:#e5e5e5;
} 

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
}
a{ 
    text-decoration: none;
    color: var(--text-color);

}
